@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'poppins',sans-serif ;
}
body{
    width: 100%;
    transition: 0.9s;
    /* border: 2px solid black; */
    background-color:aliceblue;
}
.mavic{
    width: 79%;
    transition: 0.9s;
}
nav {
    width: 96%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(9,1fr) auto auto auto;
    position: sticky;
    gap: 2%;
    height: 3rem;
    align-items: center;
}
nav img{
    width: 100%;
    grid-area: 1/1;
    height: 2rem;
}
nav .search{
    display: flex;
    position: relative;
    grid-area: 1 / span 6;
    position: relative;
}
nav .search .fa-magnifying-glass{
    position: absolute;
    left: 1%;
    top: 23%;
}
nav .search >*{
    border: none;
    outline: none;
}
nav .search input{
    width: 80%;
    background-color: rgba(0, 0, 255, 0.11);
    height: 2rem;
    padding: 0 5%;
}
nav .search button{
    height: 2rem;
    color: black;
    font-size: large;
    padding: 0 1rem;
    text-align: center;
}
nav .search button:hover{
    background-color: blue;
    color: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: 0.5s;
    outline: none;
}

nav .login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 0.8rem 0;
    position: relative;
}
nav .login:hover{
    color: white;
    background-color: blue;
    transition: 0.5s;
    border-radius: 4px;
}
nav .login:hover .fa-caret-down{
    transform: rotate(180deg);
}
nav .profile{
    display: none;
}
nav .login:hover ~ .profile,.login~.profile:hover{
    display: grid;
    position: absolute;
    top: 3rem;
    left: 67%;
    width: 15%;
    grid-template-columns: 24px auto;
    padding: 3px;
    background-color: white;
    box-sizing: border-box;
    padding: 1rem;
}
nav .profile > *{
    margin-top: 1rem;
}
nav .profile .nc{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-area: 1/span 2;
}

nav .cart{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
nav .cart :nth-child(2){
    margin: 0 .5rem;
}
nav .cart :nth-child(1){
    margin: 0 0.5rem;
}

nav .cart :nth-child(3){
    position: absolute;
    left: 30%;
    font-size: xx-small;
    color: white;
    top: 28%;
    background-color: red;
    padding: .1rem;
    border-radius: 50%;
}
nav .seller{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .menu{
    position: relative;
}
nav .menu-options{
    display: none;
    position: absolute;
    left: -180px;
    width: 180px;
    border: 1px solid black;
    padding: .5rem 1rem;
}
.menu-options >*{
    padding: 0.5rem 0;
}
nav .menu .fa-ellipsis-vertical:hover ~ .menu-options,.menu-options:hover{
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
}
.shopping-cart{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20%;
    right: -20%;
    transition: 0.9s;
    top: 0;
    position: fixed;
    float: right;
    top: 0;
    justify-content: space-between;
    text-align: center;
    background-color: #878787;
    color: white;
}


.open{
    right: 0;
}
main .button{
    display: flex;
    flex-direction: row;
}
main button:nth-child(even){
    background-color: yellow;
}
main .shopping-cart .button button{
    width: 50%;
    font-size: medium;
    padding: .5rem 0;
    border: none;
}
main .shopping-cart .cartproducts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
    overflow: scroll;
}
main .shopping-cart .cartproducts .product-cart{
    display: grid;
    grid-template-columns: 52px minmax(120px, 1fr) 50px;
    box-sizing: border-box;
    padding: 1px;
    height: 52px;
    margin: 0.5rem 0;
    justify-content: space-around;
}


main .shopping-cart .cartproducts .product-cart>*{
    margin:0 0.5rem;
}

main .shopping-cart .cartproducts::-webkit-scrollbar{
    display: none;
}
main .shopping-cart .cartproducts .product-cart img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    object-fit: contain;
}
main .shopping-cart .cartproducts .product-cart div{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 52px;
}
.product-cart div:nth-child(2) {
    flex-grow: 1;
    text-align: center;
}
main .shopping-cart .cartproducts .product-cart div p{
        font-size: x-small;
}
main .shopping-cart .cartproducts .product-cart pre{
    font-size: x-small;
    margin: auto 0;
}
main .shopping-cart .cartproducts .product-cart #incre{
    display: flex;
    flex-direction: row;
    height: 52px;
    align-items: center;
    justify-content: space-around;
}
main .shopping-cart .cartproducts .product-cart #incre>*{
    margin: 0 0.3rem;
}


/* slider */
.slider{
    width: 90%;
    height: 90vh;
    overflow: hidden;
    margin: 5vh auto;
}
.slider img{
    width: 100vw;
    max-width: 100%;
    height: 80vh;
    object-fit: contain;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    box-sizing: border-box;
    padding: 1rem;
}
.container .top-offers,.container .beauty,.container .sports{
    width: 96%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7,minmax(150px,1fr));
}
.container .top-offers .item,.container .beauty .item,.container .sports .item{
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding: 1rem;
}
.container .top-offers .item>*,.container .beauty .item>*,.container .sports .item>*{
    padding: .2rem;
    cursor: pointer;
}
.container .top-offers .item img:hover,.container .beauty .item img:hover,.container .sports .item img:hover{
    background-color: rgba(0, 0, 0, 0.408);
    transform: scale(1.05);
    transition: 0.9s;
}
.container .top-offers .item img,.container .beauty .item img,.container .sports .item img{
    width: 100%;
    height: 10rem;
    object-fit: contain;
    background-color: rgba(230, 230, 215, 0.9);
    border-radius: 8px;
    filter: drop-shadow(0 0 10px 5px rgb(68, 68, 68));
}
.container .top-offers p,.beauty p,.sports p{
    white-space: nowrap;
    width: 150px;
    overflow: scroll;
}
.container .top-offers p::-webkit-scrollbar,.beauty p::-webkit-scrollbar,.sports p::-webkit-scrollbar{
    display: none;
}
footer{
    width:100%;
    box-sizing: border-box;
    padding: 5%;
    background-color: #212121;
    height: 50vh;
}

.footer{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.footer > div{
    display: flex;
    flex-direction: column;
    color: white;
}

.footer > div h4{
    color: #878787;
    text-transform: uppercase;
    font-weight: 200;
    font-size: medium;
    margin: .5rem 0;
}

.footer div >*{
    margin: 0.2rem 0;
    letter-spacing: 1px;
}
.footer .social a{
    text-decoration: none;
    color: white;
    display: grid;
    grid-template-columns: 20px auto;
    align-items: center;

}
.footer .social h4{
    grid-area: 1 / span 2;
}
.footer .social{
    display: grid;
    grid-template-columns: auto auto;
}
.social p{
    margin-left: .3rem;
}
.footer > div p:hover{
    text-decoration: underline ;
}
